@font-face {
  font-family: tbcdin_mtavruli_medium_0;
  src: url('../fonts/tbcdin_mtavruli_medium_0.ttf');
}
@font-face {
  font-family: tbcdin_nusxuri_medium_0;
  src: url('../fonts/tbcdin_nusxuri_medium_0.ttf');
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  background: #fff;
}
.bg-gradient{
  width: 100%;
  height: 770px;
  position: absolute;
  z-index: -1;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,252,239,1) 48%, rgba(255,249,223,1) 100%);

}
.container{
  width: 962px;
  margin: 0 auto;
}
header{
  width: 100%;
  border-bottom: 2px solid #EB6F38;
}
.lang-flag{
  height: 100%;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.lang-flag li a img {
  width: 24px;
  height: 24px;
}
.head-social{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width:100%;
  margin-bottom: 30px;
}
.head-social > ul {
  background: #EB6F38;
  display: flex;
  height: 100%;
  padding: 5px 7px;
}
.head-social > ul li {
  padding: 0 8px;
  position: relative;
}
.head-social > ul li:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 70%;
  right: 0;
  top: 50%;
  border-right: 1px solid rgba(112, 112, 112, 0.49);
  transform: translateY(-50%)
}
.head-social > ul li a {
  color: #fff;
  font-size: 17px;
}
.logo {
  height: 69px;
  width: 100%;
  margin-bottom: 30px;
}
.logo img {
  max-width: 100%;
  max-height: 100%;
}

.item-head-stat{
  height: 69px;
  width: 100%;
  margin-bottom: 20px;
}
.item-head-stat > .item {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.item-head-stat:nth-of-type(1) > .item{
  background: #c9b94b;
}
.item-head-stat:nth-of-type(2) > .item{
  background: #ffcc36;
}
.item-head-stat:nth-of-type(3) > .item{
  background: #ff8e39;
}
.item-head-stat:nth-of-type(4) > .item{
  background: #eb5238;
}
.item-head-stat > .item h1 {
  text-align: center;
  font-size: 36px;
  color: #6c5c53;
  font-family: tbcdin_mtavruli_medium_0;
  font-weight: 500;
}
.item-head-stat > .item p {
  font-size: 12px;
  color: #fff;
  width: 100%;
  height: 29px;
  background: rgba(42, 42, 42, 0.4);
  font-family: tbcdin_mtavruli_medium_0;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  padding-left: 5px;
}
.menu {
  background: #EEE6C7;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}
.menu li {
  margin-left: 20px;
  font-family: tbcdin_mtavruli_medium_0;
}
.menu li a {
  color: #000;
  font-size: 18px;
  font-family: tbcdin_mtavruli_medium_0;
}
.login-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-top: 32px; */
  height: 273px;
}
.login-form li {
  width: 50%;
  height: 32px;
  background: #EEE6C7;
  font-family: tbcdin_mtavruli_medium_0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form li a {
  font-family: tbcdin_mtavruli_medium_0;
  font-size: 18px;
  color: #000;
}
.login-form li.active a{
color: #EB5100;
}
.login-form li.active{
  background: #FFFFFF;
}
.login-form-item,
.reg-form-item{
  display: none;
  background: #fff;
  width: 100%;
  height: 100%;
}
.login-form-item.active,
.reg-form-item.active{
  display: block;
}
form.login-form-in {
  padding: 15px;
  width: 100%;
  float: left;
}
form.login-form-in input{
  height: 30px;
  outline: none;
  text-align: center;
  font-size: 10px;
  font-family: tbcdin_nusxuri_medium_0;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 1px 0px #ffffff;
  background-image: linear-gradient(0deg, #efece7 0%, #eae5de 100%);
  border-radius: 3px;
  border: 1px solid #cfc8bc;
  line-height: 24px;
  color: #6c5c53;
  font-weight: 500;
}
form.login-form-in label{
  display: flex;
  align-items: center;
  float: left;
  margin: 10px 0;
}
form.login-form-in label input{
  width: 10px;
  height: 10px;
  margin: 0;
}
form.login-form-in label p {
  margin-left: 5px;
  color: #3E6373;
  font-size: 12px;
  font-family: tbcdin_mtavruli_medium_0;
}
form.login-form-in button{
  background: #EB6F38;
  font-size: 14px;
  outline: none; 
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 4px 7px;
  float: right;
  margin: 10px 0;
  cursor: pointer;
}
.login-soc{
  width: 100%;
  float: left;
  height: 32px;
  display: flex;
  align-items: center;

}
.login-soc.fb{
background: #507CC0;
}
.login-soc.tw{
background: #64CCF1;
}
.login-soc.in{
background: #0576B0;
}

.address-select{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.address-select select{
  width: 117px;
  height: 29px;
  float: left;
  border: 1px solid #cfc8bc;
  border-radius: 3px;
  outline: none;
  margin-bottom: 20px;
  font-size: 10px;
  font-family: tbcdin_nusxuri_medium_0;
  box-shadow: 0px 1px 0px #ffffff;
  background-image: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
}

.house-select div{
  width: calc(100% / 3);
  float: left;
  margin-bottom: 20px;
}
.house-select div p {
  font-family: tbcdin_mtavruli_medium_0;
  color: #6c5c53;
  font-size: 12px;
}
.house-select div span {
  font-family: tbcdin_mtavruli_medium_0;
  color: #6c5c53;
  font-size: 14px;
}
.house-select div select{
  width: 97%;
  height: 29px;
  float: left;
  box-shadow: 0px 1px 0px #ffffff;
  background-image: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
  border: 1px solid #cfc8bc;
  border-radius: 3px;
  outline: none;
  font-size: 10px;
  font-family: tbcdin_nusxuri_medium_0;
}























.slider-distance-head {
  display: flex;
  font-size: 10px;
  color: #CCCCCC;
  font-family: tbcdin_mtavruli_medium_0;
}
.slider-distance-head ul {
  display: flex;
}
.slider-distance-head ul li {
  margin-left: 10px;
}
.slider-distance-head ul li a {
  font-size: 10px;
  color: #6C5C53;
}
.slider-distance-head ul li a:hover,
.slider-distance-head ul li a.active{
  color: #EB5100;
}

[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 45px 0 10px 0;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 1px;
  border-radius: 10px;
  background-color: #CCCCCC;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 1px;
  border-radius: 10px;
  background-color: #CCCCCC;
  margin: 0 7px;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 1px;
  border-radius: 14px;
  background-color: #EB5100;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -5px;
  z-index: 2;
  height: 10px;
  width: 10px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  background-color: #EB5100;
  border-radius: 50%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

[slider] > div > [thumb]:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #18203b;
}

[slider] > input[type=range] {
  position: absolute; 
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  position: absolute;
  top: -39px;
  color: #484848;
  width: 40%;
  height: 28px;
  border-bottom: 1px solid #CCCCCC;
}

[slider] > div > [sign] > span {
  font-size: 10px;
  line-height: 28px;
  font-family: tbcdin_mtavruli_medium_0;
}








.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 19px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  width: 39px;
  height: 18px;
  border-radius: 9px;
  background-color: #6c5c53;
  border: 1px solid #d3d3d3;
}

.slider:before {
  content: "off";
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.29);
  background-image: linear-gradient(0deg, #ffffff 0%, #eaeaea 70%);
  border: 1px solid #d6d6d6;
  transition: .4s;
}

.switch input:checked + .slider {
  width: 39px;
  height: 18px;
  border-radius: 9px;
  background-color: #ff7400;
  border: 1px solid #d3d3d3;
}


.switch input:checked + .slider:before {
  content: "on";
  -webkit-transform: translate(18px, 1px);
  -ms-transform: translate(18px, 1px);
  transform: translate(18px, -2px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  -webkit-transform: translate(18px, 1px);
  -ms-transform: translate(18px, 1px);
  transform: translate(0px, -2px);
}


.left-top-title {
  background: #EB5238;
  height: 32px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 5px;
}
.left-top-title h1{
  font-size: 14px;
  color: #fff;
  font-family: tbcdin_mtavruli_medium_0;
  margin-left: 15px;
}


.left-top-head{
  display: flex;
}
.left-top-head li{
  width: calc(100% / 3);
  color: #6C5C53;
  font-size: 24px;
  font-family: tbcdin_mtavruli_medium_0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  background: #C9B94B
}
.second {
  background: #FFCC36;
}
.third {
  background: #FF8E39;
}
.left-top-head{
  cursor: pointer;
}
.left-top-body{
  display: none;
}
.left-top-body.active{
  display: block;
}
.left-top-body-item{
/* background: #C9B94B; */
  height: 44px;
  display: flex;
  align-items: center;
}
.left-top-body-item:nth-of-type(2n+2){
  background: rgba(48, 44, 19, 0.25);
}
.left-top-body-item img {
  width: 35px;
  height: 35px;
}

.left-top-body-item p {
  margin-left: 15px;
  font-size: 14px;
  color: #ffffff;
  font-family: tbcdin_mtavruli_medium_0;
  font-weight: 500;
}



.main-item {
  background: #EEE6C7;
  padding: 10px;
  margin-top: 30px;
}
.item-image {
  width: 100%;
  height: 172px;
  overflow: hidden;
}
.item-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.noteworthy{
  width: 100%;
  height: 100vh;
  max-height: 340px;
  position: relative;
  margin-bottom: 26px;
  margin-top: 20px;
}
.noteworthy img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}
.noteworthy h1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: #fff;
  font-size: 36px;
  font-family: tbcdin_mtavruli_medium_0;
  letter-spacing: 3px;
}
.noteworthy.dangerous:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #5813c4;
  opacity: 0.5;

}
.noteworthy.dontpay:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #d70d0d;
  opacity: 0.5;
}
.noteworthy.checked:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffed00;
  opacity: 0.5;
}
.compani-info p{
  font-size: 10px;
  font-family: tbcdin_mtavruli_medium_0;
  color: #6C5C53;
}
.compani-info span{
  font-size: 10px;
  font-family: tbcdin_mtavruli_medium_0;
  color: #FF7400;
  margin-bottom: 7px;
}

.rate{
  display: flex;
  width: 172px;
  float: left;
  margin-top: 10px;
}
.rate-like{
  background: #00ff00;
  margin-right: 15px; 
}
.rate-dislake{
  background: #d70d0d;
}
.rate-dislake, 
.rate-like{
  color: #fff !important;
  font-size: 12px !important;
  height: 20px;
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.rate-dislake p, 
.rate-like p{
  width: auto !important;
  margin: 0 !important;
  font-size: 12px !important;
  font-family: tbcdin_mtavruli_medium_0;
  color: #fff !important;
}
.statistic{
  display: flex;
  height: 17px; 
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
  margin-top: 10px;

}
.statistic-items{
  width: calc(100% - 62px);
  display: flex;
  padding: 1px;
}
.percent-text{
  background: #EB5100;
  width: 62px;
  float: right;
  color: #fff;
  font-family: tbcdin_mtavruli_medium_0;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stat-item{
  border-radius: 4px;
  height: 100%;
  width: 6px;
  margin-left: 1px;
  background: #E6E6E6;
}
.stat-item.yellow{
  background: #FFED00;
}
.stat-item.red{
  background: red;
}

.item-table-head{
  background: #6C5C53;
  display: flex;
  height: 26px;
  align-items: center;
  padding: 5px;
}
.item-table-head-in {
  width: calc(100%/7);
  color: #fff;
  font-family: tbcdin_mtavruli_medium_0;
  font-size: 12px;
  text-align: center;
}

.item-table-in{
  background: #E6E6E6;
  display: flex;
  height: 26px;
  align-items: center;
}
.item-table-in:nth-of-type(2n+2){
background: #CCCCCC;
}
.item-table-in > div{
  width: calc(100%/7);
  color: #000 ;
  font-family: tbcdin_mtavruli_medium_0;
  font-size: 12px;
  text-align: center;
}
.item-table-in > div.item-table-in-investition{
  background: #eb5d38;
  color: #fff;
}
.main-item-footer-menu{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.main-item-footer-menu li a {
  color: #484848;
  font-size: 10px;
  font-family: tbcdin_mtavruli_medium_0;
}

.paymen-sistem-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 30px;
}
.avatar-icon {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  /* overflow: hidden; */
  background: red;
  position: relative;
}
.avatar-icon img{
  width: 100%;
  height: 100%;
  object-fit: cover
}
.avatar-icon span {
  font-size: 12px;
  letter-spacing: -1px;
  color: #ffffff;
  font-family: tbcdin_mtavruli_medium_0;
  font-weight: 500;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #00ff00;
  position: absolute;
  right: -3px;
  top: -5px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paymen-sistem-item p {
  margin-left: 15px;
  font-size: 24px;
  color: #6C5C53;
  font-family: tbcdin_mtavruli_medium_0;
  width: calc(100% - 70px);
}
.user-list-left .rate{
  width: calc(100% - 70px);
}
.exchange-logo{
  width: 80%;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.exchange-logo img {
  max-width: 100%;
  height: 100%;
}
















.footer-head{
  width: 100%;
  min-height: 103px;
  background-image: linear-gradient(0deg, #eb5137 0%, #eb6e38 100%);
}
.footer-head-notification{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 103px;
  align-items: center;
}
.footer-head-question img {
  width: 67px;
  height: 43px;
  float: left;
}
.footer-head-question div {
  float: left;
  position: relative;
  font-family: tbcdin_nusxuri_medium_0;  
}
.footer-head-question div p{
  font-size: 18px;
  color: #6c5c53;
  font-weight: 500;
  text-align: center;
}
.footer-head-question div h1 {
  font-size: 30px;
  color: #6c5c53;
  font-weight: 500;
  letter-spacing: 3px;
}
.footer-head-question div h2 {
  position: absolute;
  right: -29px;
  top: 0;
  font-size: 52px;
  color: #6c5c53;
  font-weight: 500;
}
.footer-head-notif input{
  width: 391px;
  height: 38px;
  border-radius: 3px;
  box-shadow: 0px 1px 0px #ffffff;
  background-image: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
  border: 1px solid #cfc8bc;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  color: #6c5c53;
  font-family: tbcdin_nusxuri_medium_0;  
  font-weight: 500;
  padding: 0 15px;
}
.footer-head-notif button{
  width: 137px;
  height: 39px;
  border-radius: 3px;
  background-image: linear-gradient(0deg, #eb5137 0%, #eb6e38 100%);
  outline: none;
  border: none;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: tbcdin_mtavruli_medium_0;  
  font-weight: 500;
  cursor: pointer;
}
.footer-excahnge{
  padding: 20px 0;
}

.footer-project{
  width: 100%;
  float: left;
  margin-top: 30px;
}
.footer-project-item {
  width:calc(100%/5);
  float: left;
  padding: 0 5px;
}
.footer-project-item-head {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #eb5238;
  height: 30px;
}
.footer-project-item-head > div {
  height: 100%;
  width: 82px;
  background: #eb5238;
  position: relative;
  -webkit-clip-path: polygon(0 0, 70% 0, 97% 100%, 0 100%);
clip-path: polygon(0 0, 70% 0, 97% 100%, 0 100%);
}
.footer-project-item-head h1 {
  font-size: 30px;
  color: #6c5c53;
  font-family: tbcdin_mtavruli_medium_0;  
  font-weight: 500;
}
.footer-project-item-body li {
  padding: 2px 5px;
}
.footer-project-item-body li a{
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #6c5c53;
  font-family: tbcdin_mtavruli_medium_0;  
  font-weight: 500;
}
.footer-project-item-body li a img{
  max-width: 30px;
  max-height: 30px;
  margin-right: 5px;
}
.footer-section-item {
  float: left;
  display: flex;
  flex-direction: column;
}
.footer-section-item ul {

}
.footer-section-item ul li{
  list-style: disc;
  margin-left: 20px;

}
.footer-section-item ul li a {
  font-size: 14px;
  color: #6c5c53;
  font-family: tbcdin_mtavruli_medium_0;   
  font-weight: 500;
}
.footer-section-item.footer-login{
  width: 263px;
}
.footer-section-item.footer-menu{
  width: 222px;
}
.footer-section-item.footer-logo{
  width: 224px;
}
.footer-section-item p {
  font-size: 12px;
  color: #6c5c53;
  font-family: tbcdin_nusxuri_medium_0;   
  font-weight: 500;
  margin-top: 10px;
  width: 80%;
}
.footer-section-item h1 {
  font-size: 18px;
  color: #6c5c53;
  font-family: tbcdin_mtavruli_medium_0;   
  font-weight: 500;
  margin-bottom: 15px;
}
.footer-section-item img {
  width: 80%;
}
